
/* .blm 
{

 
    box-shadow: -2px -2px 5px rgba(0,0,0,0.2) , 5px 0px 30px rgba(0,0,0,0.2);
animation-name: blm1;
animation-duration:2s;

}
.navbar-nav
{
    box-shadow: 0px 2px 10px grey;
}


@keyframes blm1 
{
    0%{opacity:0;margin-top:200px;}
100%{opacity:1;}
} */