#blm 
{
    border:30px solid white ;
    width:2px;
    border-radius:10%;
    animation-name:blm ;
    animation-duration:2s;
    animation-iteration-count:infinite;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#blm1
{
    position: fixed;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
}

@keyframes blm 
{
15%{border-top:30px solid red;border-right:30px solid blue;}
30%{border-top:30px solid red;border-right:30px solid blue;border-bottom:30px solid green;}
50%{border-top:30px solid red;border-right:30px solid blue;border-bottom:30px solid green;border-left: 30px solid orange;}
70%{border-right:30px solid blue;border-bottom:30px solid green;border-left: 30px solid orange;}
80%{border-bottom:30px solid green;border-left: 30px solid orange;}
90%{border-left: 30px solid orange;}
}
